*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

.logo_contenedor {
    width: 100%;
    height: 200px;
    display: flex;
}

.logo {
    display: block;
    width: 100px;
    height: 100px;
    display: flex;
    margin: auto;
}

.menu {
    width: 100%;
    height: 81.19px;
    background: #333;
}

.menu_principal {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    transition: all 3s;
}

.menu_principal li {
    display: block;
    width: 130px;
    height: 81.19px;
    text-align: center;
    font-family: sans-serif;
    font-size: 90%;
    color: aliceblue;
    line-height: 81.19px;
    position: relative;
}

.menu_secundario {
    background: #333;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    position: absolute;
    display: none;
}

.menu_secundario li {
    display: block;
    width: 130px;
    height: 40px;
    line-height: 40px;
}

li:hover > .menu_secundario {
    display: block;
}

.linea_azul {
    width: 100%;
    height: 15px;
    background: #37c0fb;
}

.nombre_pagina {
    width: 100%;
    height: 400px;
}

.proyectos {
    width: 100%;
    height: 107px;
    background: rgba(27, 27, 27, 0.75);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
}

.proyectos h1 {
    font-size: 20px;
}

.proyectos button {
    margin-left: 30px;
    background: #37c0fb;
    border-color: #37c0fb;
    padding: 10px;
    border-radius: 10px;
    width: 170px;
    height: 50px;
    color: aliceblue;
    font-size: 18px;
}

.proyectos a {
    color: aliceblue;
    text-decoration: none;
    border-bottom: 1px dotted aliceblue;
}

.productos {
    display: flex;
    margin-top: 90px;
}

.productos article {
    width: 400px;
    height: 400px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productos img {
    display: block;
    width: 93.33px;
    height: 93.33px;
    margin-bottom: 60px;
}

.productos h1 {
    margin-bottom: 50px;
}

.productos p {
    margin: 10px;
    text-align: center;
    color: gray;
    font-size: 130%;
}

.productos a {
    color: #37c0fb;
    text-decoration: none;
    border-bottom: 1px dotted #37c0fb;
}

.productos a:hover {
    border-bottom: none;
}

.desarrolla {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #cccccc;
}

.desarrolla h1,
.desarrolla h2 {
    margin: 20px;
    font-size: 200%;
}

.desarrolla h1 {
    color: rgba(27, 27, 27, 0.75);
}

.desarrolla h2 {
    font-weight: lighter;
    color: gray;
}

.trabajos {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.trabajos article {
    margin: 20px;
    width: 600px;
    height: 200px;
    display: flex;
    align-items: center;
}

.trabajos img {
    display: block;
    width: 174px;
    height: 130.5px;
}

.trabajos .contenido {
    width: 60%;
    margin-left: 30px;
    margin-right: 20px;
    color: #333;
}

.trabajos h1 {
    margin-bottom: 25px;
    font-size: 20px;
}

.trabajos p {
    font-size: 20px;
}

.masproyectos {
    margin-top: 50px;
    width: 100%;
    height: 187.66px;
    background: #37c0fb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.masproyectos h1 {
    color: aliceblue;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    letter-spacing: -0.025em;
}

.masproyectos button {
    margin-left: 30px;
    color: #333;
    border-radius: 10px;
    border-color: white;
    font-size: 20px;
    background: white;
    width: 170px;
    height: 50px;
}

.masproyectos button:hover {
    color: #37c0fb;
}

.contactenos {
    background: #cccccc;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.contactenos h1 {
    line-height: 40px;
    margin-bottom: 25px;
    color: #333;
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contactenos a {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
    text-decoration: none;
}

.contactenos a:hover {
    color: #37c0fb;
}

.contactenos .clientes {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 500px;
    padding-top: 60px;
    padding-left: 50px;
}

.contactenos .proyectos_casa {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 500px;
    padding-top: 60px;
}

.contactenos form {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 500px;
    padding-top: 60px;
    padding-right: 60px;
}

.contactenos .inputsdeentrada {
    display: flex;
    justify-content: center;
}

.contactenos input {
    width: 50%;
    height: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    border-radius: 10px;
    padding-left: 15px;
}

.contactenos input:nth-child(1) {
    margin-right: 20px;
}

.contactenos textarea {
    margin-top: 20px;
    width: 100%;
    height: 180px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
}

.contactenos button {
    width: 180px;
    height: 60px;
    margin-top: 20px;
    color: #cccccc;
    background: #333;
    border-radius: 10px;
    font-size: 15px;
}

footer {
    background: #cccccc;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer img {
    display: block;
    width: 25px;
    height: 25px;
    margin: 10px;
}

footer h1 {
    width: 100%;
    text-align: center;
    color: #333;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 50px;
    font-weight: 10;
}

footer a{
    text-decoration: none;
    color: #333;
}

footer a:hover {
    color: #37c0fb;
}